# Pour la création de la base de données et de l'utilisateur avec Docker
MONGO_INITDB_ROOT_USERNAME=username
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE_USERS=database
MONGO_INITDB_DATABASE_LOCATIONS=database